@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   background: rgb(67, 97, 238);
   background: linear-gradient(90deg, rgba(67, 97, 238, 1) 0%, rgba(72, 149, 239, 1) 65%, rgba(72, 148, 239, 1) 98%);
}